.gamepadslider_SliderHandle_2yVKj {
    border-radius: 0;
}
.gamepadslider_SliderTrack_Mq25N {
    border-radius: 0;
}
.gamepadslider_SliderTrack_Mq25N::before {
    border-radius: 0;
}
.gamepadslider_SliderNotchTick_Fv1Ht {
    border-radius: 0;
}