/*
Chromahon (Input Controls)
Core Variables
*/

:root {
    
    --chromahonControls__toggle-ON-handle: var(--chromahonControls__Custom-toggle-ON-handle);
    --chromahonControls__toggle-ON-rail: var(--chromahonControls__Custom-toggle-ON-rail);
    --chromahonControls__toggle-OFF-handle: var(--chromahonControls__Custom-toggle-OFF-handle);
    --chromahonControls__toggle-OFF-rail: var(--chromahonControls__Custom-toggle-OFF-rail);

    --chromahonControls__slider-fill: var(--chromahonControls__Custom-slider-fill);
    --chromahonControls__slider-handle: var(--chromahonControls__Custom-slider-handle);
    --chromahonControls__slider-empty: var(--chromahonControls__Custom-slider-empty);
    --chromahonControls__slider-hl: var(--chromahonControls__Custom-slider-hl);

    /* Note: checkboxes follow button scheme */
    --chromahonControls__button-bg: var(--chromahonControls__Custom-button-bg);
    --chromahonControls__button-bg-hl: var(--chromahonControls__Custom-button-bg-hl);
    --chromahonControls__button-fg: var(--chromahonControls__Custom-button-fg);
    --chromahonControls__button-fg-hl: var(--chromahonControls__Custom-button-fg-hl);
}